@font-face {
    font-family: "flaticon_portfolio";
    src: url("./flaticon_portfolio.ttf?612121f69aee6c4a2edecde051b898f9") format("truetype"),
url("./flaticon_portfolio.woff?612121f69aee6c4a2edecde051b898f9") format("woff"),
url("./flaticon_portfolio.woff2?612121f69aee6c4a2edecde051b898f9") format("woff2"),
url("./flaticon_portfolio.eot?612121f69aee6c4a2edecde051b898f9#iefix") format("embedded-opentype"),
url("./flaticon_portfolio.svg?612121f69aee6c4a2edecde051b898f9#flaticon_portfolio") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_portfolio !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-home:before {
    content: "\f101";
}
.flaticon-home-1:before {
    content: "\f102";
}
.flaticon-home-2:before {
    content: "\f103";
}
.flaticon-home-icon-silhouette:before {
    content: "\f104";
}
.flaticon-user:before {
    content: "\f105";
}
.flaticon-user-1:before {
    content: "\f106";
}
.flaticon-user-2:before {
    content: "\f107";
}
.flaticon-user-3:before {
    content: "\f108";
}
.flaticon-avatar:before {
    content: "\f109";
}
.flaticon-browser:before {
    content: "\f10a";
}
.flaticon-browser-1:before {
    content: "\f10b";
}
.flaticon-browser-2:before {
    content: "\f10c";
}
.flaticon-browser-3:before {
    content: "\f10d";
}
.flaticon-mail:before {
    content: "\f10e";
}
.flaticon-mail-1:before {
    content: "\f10f";
}
.flaticon-mail-inbox-app:before {
    content: "\f110";
}
.flaticon-contact:before {
    content: "\f111";
}
.flaticon-communicate:before {
    content: "\f112";
}
.flaticon-mail-2:before {
    content: "\f113";
}
.flaticon-left-chevron:before {
    content: "\f114";
}
.flaticon-back:before {
    content: "\f115";
}
.flaticon-left:before {
    content: "\f116";
}
.flaticon-arrow-left:before {
    content: "\f117";
}
.flaticon-previous:before {
    content: "\f118";
}
.flaticon-left-arrow:before {
    content: "\f119";
}
.flaticon-right-arrow:before {
    content: "\f11a";
}
.flaticon-next:before {
    content: "\f11b";
}
.flaticon-next-1:before {
    content: "\f11c";
}
.flaticon-arrow-right:before {
    content: "\f11d";
}
.flaticon-next-2:before {
    content: "\f11e";
}
.flaticon-right-arrow-1:before {
    content: "\f11f";
}
.flaticon-more:before {
    content: "\f120";
}
.flaticon-menu:before {
    content: "\f121";
}
.flaticon-square:before {
    content: "\f122";
}
.flaticon-square-1:before {
    content: "\f123";
}
