@font-face {
    font-family: "flaticon_portfolio";
    src: url("./flaticon_portfolio.ttf?ca6bbb76757de777ddb9e378b0ea5ed0") format("truetype"),
url("./flaticon_portfolio.woff?ca6bbb76757de777ddb9e378b0ea5ed0") format("woff"),
url("./flaticon_portfolio.woff2?ca6bbb76757de777ddb9e378b0ea5ed0") format("woff2"),
url("./flaticon_portfolio.eot?ca6bbb76757de777ddb9e378b0ea5ed0#iefix") format("embedded-opentype"),
url("./flaticon_portfolio.svg?ca6bbb76757de777ddb9e378b0ea5ed0#flaticon_portfolio") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_portfolio !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-home:before {
    content: "\f101";
}
.flaticon-home-1:before {
    content: "\f102";
}
.flaticon-home-2:before {
    content: "\f103";
}
.flaticon-home-icon-silhouette:before {
    content: "\f104";
}
.flaticon-user:before {
    content: "\f105";
}
.flaticon-user-1:before {
    content: "\f106";
}
.flaticon-user-2:before {
    content: "\f107";
}
.flaticon-user-3:before {
    content: "\f108";
}
.flaticon-avatar:before {
    content: "\f109";
}
.flaticon-browser:before {
    content: "\f10a";
}
.flaticon-browser-1:before {
    content: "\f10b";
}
.flaticon-browser-2:before {
    content: "\f10c";
}
.flaticon-browser-3:before {
    content: "\f10d";
}
.flaticon-mail:before {
    content: "\f10e";
}
.flaticon-mail-1:before {
    content: "\f10f";
}
.flaticon-mail-inbox-app:before {
    content: "\f110";
}
.flaticon-contact:before {
    content: "\f111";
}
.flaticon-communicate:before {
    content: "\f112";
}
.flaticon-mail-2:before {
    content: "\f113";
}
