#app {
  display: grid;
  min-height: 100vh;
}

@media (min-width: 640px) {
  #main {
    background: url('../../assets/images/whitefloral.png');
    background-size: auto;
    background-repeat: repeat;
  }
} 

/* #app::-webkit-scrollbar {
  display: none;
} */