#app {
  display: grid;
  grid-template: 40px 1fr / 160px 1fr;
  min-height: 100vh;
}

#sidebar {
  grid-area: 1 / 1 / 3 / 2;
  position: fixed;
}

#navbar {
  grid-area: 1 / 2 / 2 / 3;
  position: fixed;
}

#main {
  grid-area: 2 / 2 / 3 / 3;
}

/* #app::-webkit-scrollbar {
  display: none;
} */